<launch>


  <include file="$(find spmr02)/launch/00gazebo.launch" />
  <!-- <include file="$(find realsense2_camera)/launch/rs_t265.launch" /> -->
  <include file="$(find sick_scan)/launch/sick_tim_581_1.launch" />
  <include file="$(find sick_scan)/launch/sick_tim_581_2.launch" />

  <!-- camera setting -->

  <arg name="serial_no_camera"    			default="911412111278"/> 			<!-- Note: Replace with actual serial number -->
  <arg name="serial_no_camera_L"    			default="151422251950"/> 			<!-- Note: Replace with actual serial number -->
  <!-- <arg name="serial_no_camera_R"    			default=""/> 			 -->
  <!-- Note: Replace with actual serial number -->
  <arg name="camera"              			default="camera"/>		<!-- Note: Replace with camera name -->
  <arg name="camera_L"              			default="camera_L"/>		<!-- Note: Replace with camera name -->
  <!-- <arg name="camera_R"              			default="camera_R"/>		 -->
  <!-- Note: Replace with camera name -->
  <arg name="tf_prefix_camera"         default="$(arg camera)"/>
  <arg name="tf_prefix_camera_L"         default="$(arg camera_L)"/>
  <!-- <arg name="tf_prefix_camera_R"         default="$(arg camera_R)"/> -->
  <arg name="initial_reset"             default="false"/>
  <arg name="reconnect_timeout"         default="6.0"/>
  <!-- <arg name="enable_depth"              default="false"/> -->
  

  <group ns="$(arg camera)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"             value="$(arg serial_no_camera)"/>
      <arg name="tf_prefix"         		value="$(arg tf_prefix_camera)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="reconnect_timeout"     value="$(arg reconnect_timeout)"/>
      
    </include>
  </group>

  <group ns="$(arg camera_L)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"             value="$(arg serial_no_camera_L)"/>
      <arg name="tf_prefix"		          value="$(arg tf_prefix_camera_L)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <!-- <arg name="enable_depth"          value="false"/> -->
      <arg name="reconnect_timeout"     value="$(arg reconnect_timeout)"/>
    </include>
  </group>

  <!-- <group ns="$(arg camera_R)" if="$(eval serial_no_camera_R != '')">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"             value="$(arg serial_no_camera_R)"/>
      <arg name="tf_prefix"		          value="$(arg tf_prefix_camera_R)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="enable_depth"          value="false"/>
      <arg name="reconnect_timeout"     value="$(arg reconnect_timeout)"/>
    </include> 
  </group>-->

  <!-- end of camera setting -->

  <!-- <node name="spmr_canopen" pkg="spmr02" type="spmr_canopen" /> -->
  <node name="tf_pub" pkg="spmr02" type="tf_pub_7_2.py" />

  <!-- <node name="node1" pkg="spmr02" type="spmr_canopen"  args="arg1 arg2" /> -->
  <!-- <node name="node2" pkg="spmr02" type="tf_pub_7_2.py" args="$(arg my_arg)" /> -->
  <!-- <rosparam file="$(find package1)/config/params.yaml" command="load" /> -->

  <node pkg="topic_tools" type="relay" name="f_scan_relay" args="sick_tim_581_1/scan scan"/>
  <node pkg="topic_tools" type="relay" name="b_scan_relay" args="sick_tim_581_2/scan scan"/>

</launch>

      <node name="spmr_QR_tracker_L" pkg="spmr02" type="spmr_QR_tracker_L" 
            respawn="true" output="screen"/>  
      <node name="spmr_QR_tracker_R" pkg="spmr02" type="spmr_QR_tracker_R" 
            respawn="true" output="screen"/>  
      
      <node name="spmr_coordinate_calc" pkg="spmr02" type="spmr_coordinate_calc" 
            respawn="true" output="screen"/>  

      <!-- <node name="spmr_std_visualizer" pkg="spmr02" type="spmr_std_visualizer" 
            respawn="true" output="screen"/>   -->

      <!-- <node name="spmr_coordinate_calc" pkg="spmr02" type="spmr_coordinate_calc" 
            respawn="true" output="screen" 
            args="
                  gazebo
            "/>   -->

  <!-- <node name="right_wheel_link_tf"
        pkg="tf"
        type="static_transform_publisher"
        args="0 0 0 0 0 0 base_link right_wheel_link 40" /> -->

  <!-- <node name="left_wheel_link_tf"
        pkg="tf"
        type="static_transform_publisher"
        args="0 0 0 0 0 0 base_link left_wheel_link 40" /> -->

<!-- test -->


</launch>