<launch>
      <arg name="model" default="spmr02"/>
      <arg name="x_pos" default="0.0"/>
      <arg name="y_pos" default="-5.0"/>
      <arg name="z_pos" default="1.0"/>
 
      <include file="$(find gazebo_ros)/launch/empty_world.launch">           
            <arg name="world_name" value="$(find spmr02)/worlds/turtlebot3_house.world"/>
            <arg name="paused" value="false"/>
            <arg name="use_sim_time" value="true"/>
            <arg name="gui" value="true"/>
            <arg name="headless" value="false"/>
            <arg name="debug" value="false"/>
      </include>  
  
      <param name="robot_description" command="$(find xacro)/xacro --inorder $(find spmr02)/urdf/spmr02.urdf.xacro" />
      <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
      <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model spmr02 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

      <!-- <node name="f_rep117_laser_filter" pkg="spmr02" type="rep117_filter.py" output="screen">
      <remap from="scan" to="f_scan" />
      <remap from="f_scan" to="scan" />
      </node> -->

      <node pkg="topic_tools" type="relay" name="b_scan_relay" args="b_scan scan"/>
      <node pkg="topic_tools" type="relay" name="f_scan_relay" args="f_scan scan"/>

</launch>